

<f:for each="{paginator.paginatedItems}" as="item">
    <h2><f:format.raw>{item._formatted.title}</f:format.raw></h2>

    <p>{item.content}</p>
    <!-- @todo get abstract -->
</f:for>


<ul class="pagination">
    <f:for each="{pagination.allPageNumbers}" as="page">
        <li class="page-item">
            <f:link.action
                    arguments="{currentPageNumber:page}"
                    class="page-link {f:if(condition:'{currentPageNumber}=={page}',then:'active')}"
            >
                {page}
            </f:link.action>
        </li>
    </f:for>
</ul>